div {
  
  padding: 50px;
  border: 5px solid black; 
}

#first-div {
  background-color: #39cccc;

}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

#third-div {

  height: 10px 
  
}
.image1-container { 
  width:200px;
  height:600px;
  background-color: gold;
}

.image2-container { 
  min-width:200px;
  height:600px;
  background-color: gold;
  display:inline-block;
}

.image1  {
  width:100%
}
.image2 {
  
}
p {
  background-color: #7fdbff;
}
